<div class="main carts-new">
  <div class="container">
    <h1 class="form-heading">カート</h1>
      <p>
        <%= @item.id %>
        <label>商品名</label>
        <%= @item.name %>
        <label>価格</label>
        <%= @item.price %><label>円</label>
      </p>
      <%= form_tag("/carts/#{@item.id}/create") do %>
        <div class="form">
          <div class="form-body">
            <% @cart.errors.full_messages.each do |message| %>
            <div class="form-error">
              <%= message %>
            </div>
            <% end %>
            <label>注文する個数を入力</label>
            <input type="number" name="quantity" min="0">
            <input type="submit" value="カートに入れる">
          </div>
        </div>
      <% end %>
  </div>
</div>